/* .section-bg{
    width: 100%;
}

.microphone-bg{

    position: relative;
    align-items: center;

}

.microphone{
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    position: relative;
    left: 500px; 
} */